Domotica_rasp_rpict_V1.json
[{"id":"2084b11d.b8b30e","type":"tab","label":"project ONE","disabled":false,"info":""},{"id":"314c8510.9e583a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#32cad2","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#307874","baseFont":"Impact,Impact,Charcoal,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#32cad2","edited":true},"page-titlebar-backgroundColor":{"value":"#32cad2","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#71dae0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#32cad2","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Domotica ","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":30,"sy":30,"gx":6,"gy":7,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"54dd9445.d4a08c","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"618639cf.3d9488","type":"ui_spacer","name":"spacer","group":"","order":2,"width":2,"height":1},{"id":"bb880388.27504","type":"ui_spacer","name":"spacer","group":"7d707e.0b22ff84","order":2,"width":2,"height":1},{"id":"9a24228c.053f3","type":"ui_group","name":"temperatura","tab":"95e2035c.f9cf48","order":1,"disp":false,"width":"10","collapse":false},{"id":"682d1b44.866ed4","type":"mqtt-broker","name":"mqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"91532d57.26198","type":"ui_group","name":"Switch","tab":"","order":1,"disp":true,"width":"10","collapse":false},{"id":"e361948b.3a1fe8","type":"ui_group","name":"boiler","tab":"","order":1,"disp":true,"width":"16","collapse":false},{"id":"f9329838.eebe68","type":"ui_group","name":"          Consumo in Watt","tab":"","order":1,"disp":true,"width":"10","collapse":false},{"id":"22cc893.5dd3d76","type":"ui_spacer","name":"spacer","group":"91532d57.26198","order":4,"width":10,"height":1},{"id":"8ec830ba.4d364","type":"ui_spacer","name":"spacer","group":"91532d57.26198","order":8,"width":10,"height":1},{"id":"56c154ca.f649dc","type":"ui_tab","name":"Home","icon":"mi-home","order":1,"disabled":false,"hidden":false},{"id":"c733e884.0fa","type":"ui_group","name":" consumo attuale","tab":"56c154ca.f649dc","order":2,"disp":true,"width":"10","collapse":false},{"id":"9c5abf8e.435a1","type":"ui_group","name":"Switch utenze","tab":"","order":1,"disp":true,"width":10,"collapse":false},{"id":"17dfc632.31a47a","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":10,"collapse":false},{"id":"42aabc40.64c46c","type":"ui_spacer","name":"spacer","group":"9c5abf8e.435a1","order":5,"width":10,"height":1},{"id":"2412a6d8.b58f9a","type":"ui_spacer","name":"spacer","group":"9c5abf8e.435a1","order":10,"width":1,"height":1},{"id":"809f0907.d07a08","type":"ui_spacer","name":"spacer","group":"9c5abf8e.435a1","order":1,"width":1,"height":1},{"id":"f08b013e.8a5d28","type":"ui_spacer","name":"spacer","group":"9c5abf8e.435a1","order":1,"width":1,"height":1},{"id":"ef350c6f.9e17b","type":"mqtt-broker","name":"","broker":"192.168.1.230","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1f985510.6c6d43","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"9e6c7d22.391228","type":"ui_spacer","name":"spacer","group":"f9329838.eebe68","order":1,"width":1,"height":1},{"id":"43634613.62dac","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"f6b6e71b.0dd9c","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"95e2035c.f9cf48","type":"ui_tab","name":"pagina2","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"661a7ebc.914308","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"78171683.7576f","type":"ui_gauge","z":"2084b11d.b8b30e","name":"indicatore consumo","group":"c733e884.0fa","order":1,"width":0,"height":0,"gtype":"gage","title":"Consumo ","label":"watt","format":"{{value}}","min":0,"max":"3300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"2800","x":630,"y":60,"wires":[]},{"id":"e3bc3128.37d9e8","type":"ui_chart","z":"2084b11d.b8b30e","name":" storico consumo ","group":"c733e884.0fa","order":6,"width":0,"height":0,"label":"ultime 2h","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"3400","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":580,"y":120,"wires":[[]]},{"id":"8144aae5.a8917","type":"switch","z":"2084b11d.b8b30e","name":"valuta il consumo","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2600","vt":"num"},{"t":"btwn","v":"2600","vt":"num","v2":"2900","v2t":"num"},{"t":"btwn","v":"2900","vt":"num","v2":"3400","v2t":"num"},{"t":"gt","v":"3500","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":270,"y":320,"wires":[["a0893cb6.083f28"],["fbc1549c.3ffe18"],["542236b8.7a8728"],["f1227884.0e2a38"]]},{"id":"2af5ba9e.18128e","type":"comment","z":"2084b11d.b8b30e","name":"funzione IF","info":"sezione contenete funzione if\nvaluta il consumo e attiva 4 uscite \n1> tutto acceso\n2>\n3>\n4> spegne tutto\n","x":260,"y":420,"wires":[]},{"id":"fbc1549c.3ffe18","type":"function","z":"2084b11d.b8b30e","name":"verifica && gestisce","func":"var dato =msg.payload;\nif(dato != \"\") {\nvar msg1 = { payload:\"on\",topic:\"utenze/utenza1\"};\n//mettere on or off per ogni utenza\nvar msg2 = { payload:\"on\",topic:\"utenze/utenza2\"};\n//mettere on or off per ogni utenza\nvar msg3 = { payload:\"off\",topic:\"utenze/utenza3\"};\n//mettere on or off per ogni utenza\nvar msg4 = { payload:\"on\",topic:\"utenze/utenza4\"};\n//mettere on or off per ogni utenza\n}else {\n    msg.payload = \"\";\n}\nreturn [  msg1, msg2, msg3,  msg4 ];\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":510,"y":280,"wires":[["361e3639.857352"],["9a257d63.5ac2b"],["506a7c20.b17324"],["660775c7.15026c"]]},{"id":"a0893cb6.083f28","type":"function","z":"2084b11d.b8b30e","name":"verifica && gestisce all_on","func":"var dato =msg.payload;\nif(dato != \"\") {\nvar msg1 = { payload:\"on\",topic:\"utenze/utenza1\"};\n//mettere on or off per ogni utenza\nvar msg2 = { payload:\"on\",topic:\"utenze/utenza2\"};\n//mettere on or off per ogni utenza\nvar msg3 = { payload:\"on\",topic:\"utenze/utenza3\"};\n//mettere on or off per ogni utenza\nvar msg4 = { payload:\"on\",topic:\"utenze/utenza4\"};\n//mettere on or off per ogni utenza\n}else {\n    msg.payload = \"\";\n}\nreturn [  msg1, msg2, msg3,  msg4 ];\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":520,"y":200,"wires":[["361e3639.857352"],["9a257d63.5ac2b"],["506a7c20.b17324"],["660775c7.15026c"]]},{"id":"542236b8.7a8728","type":"function","z":"2084b11d.b8b30e","name":"verifica && gestisce","func":"var dato =msg.payload;\nif(dato != \"\") {\nvar msg1 = { payload:\"off\",topic:\"utenze/utenza1\"};\n//mettere on or off per ogni utenza\nvar msg2 = { payload:\"on\",topic:\"utenze/utenza2\"};\n//mettere on or off per ogni utenza\nvar msg3 = { payload:\"off\",topic:\"utenze/utenza3\"};\n//mettere on or off per ogni utenza\nvar msg4 = { payload:\"on\",topic:\"utenze/utenza4\"};\n//mettere on or off per ogni utenza\n}else {\n    msg.payload = \"\";\n}\nreturn [  msg1, msg2, msg3,  msg4 ];\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":510,"y":360,"wires":[["361e3639.857352"],["9a257d63.5ac2b"],["506a7c20.b17324"],["660775c7.15026c"]]},{"id":"f1227884.0e2a38","type":"function","z":"2084b11d.b8b30e","name":"verifica && gestisce all_off","func":"var dato =msg.payload;\nif(dato != \"\") {\nvar msg1 = { payload:\"off\",topic:\"utenze/utenza1\"};\n//mettere on or off per ogni utenza\nvar msg2 = { payload:\"off\",topic:\"utenze/utenza2\"};\n//mettere on or off per ogni utenza\nvar msg3 = { payload:\"off\",topic:\"utenze/utenza3\"};\n//mettere on or off per ogni utenza\nvar msg4 = { payload:\"off\",topic:\"utenze/utenza4\"};\n//mettere on or off per ogni utenza\n}else {\n    msg.payload = \"\";\n}\nreturn [  msg1, msg2, msg3,  msg4 ];\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":520,"y":440,"wires":[["361e3639.857352"],["9a257d63.5ac2b"],["506a7c20.b17324"],["660775c7.15026c"]]},{"id":"60522ff0.49207","type":"debug","z":"2084b11d.b8b30e","name":"uscita","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1570,"y":420,"wires":[]},{"id":"d8ff82ae.6dab38","type":"inject","z":"2084b11d.b8b30e","name":"3400","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"utenze/consumo","payload":"3400","payloadType":"num","x":90,"y":440,"wires":[["8144aae5.a8917"]]},{"id":"f23ddc32.f4e9b8","type":"inject","z":"2084b11d.b8b30e","name":"1500","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"utenze/consumo","payload":"1500","payloadType":"num","x":90,"y":200,"wires":[["8144aae5.a8917"]]},{"id":"20681a3.99644e6","type":"inject","z":"2084b11d.b8b30e","name":"2500","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"utenze/consumo","payload":"2500","payloadType":"num","x":90,"y":280,"wires":[["8144aae5.a8917"]]},{"id":"f3697e6b.e2f6b","type":"inject","z":"2084b11d.b8b30e","name":"2800","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"utenze/consumo","payload":"2800","payloadType":"num","x":82,"y":362,"wires":[["8144aae5.a8917"]]},{"id":"361e3639.857352","type":"function","z":"2084b11d.b8b30e","name":"utenza1 on/off","func":"var stato_letto = msg.payload;\nif (stato_letto == \"on\"){\n    var msg1  = {payload:\"on\",topic:\"utenze/utenza1\"};\n}\nif (stato_letto == \"off\"){\n    var msg2  = {payload:\"off\",topic:\"utenze/utenza1\"};\n}\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":820,"y":200,"wires":[[],["4f38c72.48f1938","61fd6474.7b5e7c","60522ff0.49207"]]},{"id":"9a257d63.5ac2b","type":"function","z":"2084b11d.b8b30e","name":"utenza2 on/off","func":"var stato_letto = msg.payload;\nif (stato_letto == \"on\"){\n    var msg1  = {payload:\"on\",topic:\"utenze/utenza2\"};\n}\nif (stato_letto == \"off\"){\n    var msg2  = {payload:\"off\",topic:\"utenze/utenza2\"};\n}\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":820,"y":280,"wires":[["11f5fd75.f14e43"],["c2b03458.d40f78","61fd6474.7b5e7c","11f5fd75.f14e43","60522ff0.49207"]]},{"id":"506a7c20.b17324","type":"function","z":"2084b11d.b8b30e","name":"utenza3 on/off","func":"var stato_letto = msg.payload;\nif (stato_letto == \"on\"){\n    var msg1  = {payload:\"on\",topic:\"utenze/utenza3\"};\n}\nif (stato_letto == \"off\"){\n    var msg2  = {payload:\"off\",topic:\"utenze/utenza3\"};\n}\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":820,"y":340,"wires":[["139cf134.82681f"],["4f00c9c.32edb38","61fd6474.7b5e7c","139cf134.82681f","60522ff0.49207"]]},{"id":"660775c7.15026c","type":"function","z":"2084b11d.b8b30e","name":"utenza4 on/off","func":"var stato_letto = msg.payload;\nif (stato_letto == \"on\"){\n    var msg1  = {payload:\"on\",topic:\"utenze/utenza4\"};\n}\nif (stato_letto == \"off\"){\n    var msg2  = {payload:\"off\",topic:\"utenze/utenza4\"};\n}\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":820,"y":420,"wires":[["3e4c8ee0.8b8a0a"],["16dfd028.281f6","61fd6474.7b5e7c","3e4c8ee0.8b8a0a","60522ff0.49207"]]},{"id":"4f38c72.48f1938","type":"ui_led","z":"2084b11d.b8b30e","group":"c733e884.0fa","order":2,"width":0,"height":0,"label":"Boiler","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"on","valueType":"str"},{"color":"white","value":"off","valueType":"str"}],"allowColorForValueInMessage":false,"name":"led utenza1","x":1210,"y":600,"wires":[]},{"id":"c2b03458.d40f78","type":"ui_led","z":"2084b11d.b8b30e","group":"c733e884.0fa","order":3,"width":0,"height":0,"label":"Lavatrice","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"on","valueType":"str"},{"color":"white","value":"off","valueType":"str"}],"allowColorForValueInMessage":false,"name":"led utenza2","x":1210,"y":640,"wires":[]},{"id":"4f00c9c.32edb38","type":"ui_led","z":"2084b11d.b8b30e","group":"c733e884.0fa","order":4,"width":0,"height":0,"label":"Scaldino","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"on","valueType":"str"},{"color":"white","value":"off","valueType":"str"}],"allowColorForValueInMessage":false,"name":"led utenza3","x":1210,"y":680,"wires":[]},{"id":"16dfd028.281f6","type":"ui_led","z":"2084b11d.b8b30e","group":"c733e884.0fa","order":5,"width":0,"height":0,"label":"Lavastoviglie","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"on","valueType":"str"},{"color":"white","value":"off","valueType":"str"}],"allowColorForValueInMessage":false,"name":"led utenza4","x":1210,"y":720,"wires":[]},{"id":"61fd6474.7b5e7c","type":"mqtt out","z":"2084b11d.b8b30e","name":"MQTT out","topic":"","qos":"2","retain":"","broker":"ef350c6f.9e17b","x":1590,"y":540,"wires":[]},{"id":"36c677f4.9feab","type":"timerswitch","z":"2084b11d.b8b30e","name":"timer boiler","ontopic":"utenze/utenza1","offtopic":"utenze/utenza1","onpayload":"on","offpayload":"off","disabled":false,"schedules":[{"on_h":"10","on_m":"00","on_s":"00","off_h":"10","off_m":"15","off_s":"00","valid":true},{"on_h":"10","on_m":"30","on_s":"00","off_h":"10","off_m":"45","off_s":"00","valid":true},{"on_h":"11","on_m":"00","on_s":"00","off_h":"11","off_m":"15","off_s":"00","valid":true},{"on_h":"11","on_m":"30","on_s":"00","off_h":"11","off_m":"45","off_s":"00","valid":true},{"on_h":"12","on_m":"00","on_s":"00","off_h":"12","off_m":"30","off_s":"00","valid":true},{"on_h":"13","on_m":"00","on_s":"00","off_h":"13","off_m":"30","off_s":"00","valid":true},{"on_h":"04","on_m":"00","on_s":"00","off_h":"06","off_m":"00","off_s":"00","valid":true}],"x":850,"y":100,"wires":[["1fbef994.3f8a9e"]]},{"id":"ac60c7ef.619348","type":"debug","z":"2084b11d.b8b30e","name":"uscita timer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1490,"y":180,"wires":[]},{"id":"1fbef994.3f8a9e","type":"msg-resend","z":"2084b11d.b8b30e","interval":"5","intervalUnit":"mins","maximum":"0","bytopic":false,"clone":false,"firstDelayed":false,"addCounters":false,"waitForResend":false,"highRate":false,"outputCountField":"","outputMaxField":"","name":"ripetitore timer 5 min","x":1080,"y":100,"wires":[["ac60c7ef.619348","4f38c72.48f1938","61fd6474.7b5e7c","60522ff0.49207"]]},{"id":"c4f042ac.94fbc","type":"ui_template","z":"2084b11d.b8b30e","group":"c733e884.0fa","name":"Clock Toolbar","order":9,"width":0,"height":0,"format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":180,"y":40,"wires":[[]]},{"id":"b53c8712.0572c","type":"ui_button","z":"2084b11d.b8b30e","name":"accensione manuale","group":"c733e884.0fa","order":7,"width":0,"height":0,"passthru":false,"label":"accende boiler","tooltip":"premi x accensione manuale boiler ","color":"red","bgcolor":"orange","icon":"mi-bolt","payload":"on","payloadType":"str","topic":"utenze/utenza1","x":1180,"y":20,"wires":[["61fd6474.7b5e7c","4f38c72.48f1938"]]},{"id":"86d172ca.6c4388","type":"ui_button","z":"2084b11d.b8b30e","name":"spegne manuale","group":"c733e884.0fa","order":8,"width":0,"height":0,"passthru":false,"label":"spegne boiler","tooltip":"premi x spegnere  boiler ","color":"green","bgcolor":"white","icon":"mi-bolt","payload":"off","payloadType":"str","topic":"utenze/utenza1","x":1170,"y":60,"wires":[["61fd6474.7b5e7c","4f38c72.48f1938"]]},{"id":"24cb0847.f7c398","type":"ui_text","z":"2084b11d.b8b30e","group":"c733e884.0fa","order":10,"width":0,"height":0,"name":"valore Max","label":"valore MAX","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":510,"wires":[]},{"id":"d451c459.ab7e98","type":"ui_text","z":"2084b11d.b8b30e","group":"c733e884.0fa","order":11,"width":0,"height":0,"name":"valore Min","label":"valore MIN","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":550,"wires":[]},{"id":"11f5fd75.f14e43","type":"controltimer","z":"2084b11d.b8b30e","name":"utenza2 delay con controllo 20s","timerType":"delay","timerDurationUnit":"second","timerDurationType":"num","timerDuration":20,"timerLoopTimeoutUnit":"second","timerLoopTimeoutType":"num","timerLoopTimeout":0,"loopTimeoutMessageType":"str","loopTimeoutMessage":"LOOP_TIMEOUT","timerMaxLoopIterationsType":"num","timerMaxLoopIterations":0,"loopMaxIterationsMessageType":"str","loopMaxIterationsMessage":"MAX_LOOP_ITERATIONS","isConsecutiveStartActionTimerResetAllowed":false,"isRunningTimerProgressVisible":true,"outputReceivedMessageOnTimerTrigger":true,"outputReceivedMessageOnTimerHalt":false,"startTimerOnReceivalOfUnknownMessage":false,"resetTimerOnReceivalOfUnknownMessage":false,"isDebugModeEnabled":false,"timerTriggeredMessageType":"str","timerTriggeredMessage":"TIMER_TRIGGERED","timerHaltedMessageType":"str","timerHaltedMessage":"TIMER_HALTED","isStartActionEnabled":true,"isStopActionEnabled":true,"isResetActionEnabled":false,"isPauseActionEnabled":false,"isContinueActionEnabled":false,"actionPropertyNameType":"str","actionPropertyName":"payload","startActionNameType":"str","startActionName":"on","stopActionNameType":"str","stopActionName":"off","resetActionNameType":"str","resetActionName":"RESET","pauseActionNameType":"str","pauseActionName":"PAUSE","continueActionNameType":"str","continueActionName":"CONTINUE","x":1250,"y":240,"wires":[["c2b03458.d40f78","61fd6474.7b5e7c","60522ff0.49207"],[]]},{"id":"139cf134.82681f","type":"controltimer","z":"2084b11d.b8b30e","name":"utenza3 delay con controllo 1min","timerType":"delay","timerDurationUnit":"minute","timerDurationType":"num","timerDuration":1,"timerLoopTimeoutUnit":"second","timerLoopTimeoutType":"num","timerLoopTimeout":0,"loopTimeoutMessageType":"str","loopTimeoutMessage":"LOOP_TIMEOUT","timerMaxLoopIterationsType":"num","timerMaxLoopIterations":0,"loopMaxIterationsMessageType":"str","loopMaxIterationsMessage":"MAX_LOOP_ITERATIONS","isConsecutiveStartActionTimerResetAllowed":false,"isRunningTimerProgressVisible":true,"outputReceivedMessageOnTimerTrigger":true,"outputReceivedMessageOnTimerHalt":false,"startTimerOnReceivalOfUnknownMessage":false,"resetTimerOnReceivalOfUnknownMessage":false,"isDebugModeEnabled":false,"timerTriggeredMessageType":"str","timerTriggeredMessage":"TIMER_TRIGGERED","timerHaltedMessageType":"str","timerHaltedMessage":"TIMER_HALTED","isStartActionEnabled":true,"isStopActionEnabled":true,"isResetActionEnabled":false,"isPauseActionEnabled":false,"isContinueActionEnabled":false,"actionPropertyNameType":"str","actionPropertyName":"payload","startActionNameType":"str","startActionName":"on","stopActionNameType":"str","stopActionName":"off","resetActionNameType":"str","resetActionName":"RESET","pauseActionNameType":"str","pauseActionName":"PAUSE","continueActionNameType":"str","continueActionName":"CONTINUE","x":1260,"y":320,"wires":[["4f00c9c.32edb38","61fd6474.7b5e7c","60522ff0.49207"],[]]},{"id":"3e4c8ee0.8b8a0a","type":"controltimer","z":"2084b11d.b8b30e","name":"utenza4 delay con controllo 5s","timerType":"delay","timerDurationUnit":"second","timerDurationType":"num","timerDuration":5,"timerLoopTimeoutUnit":"second","timerLoopTimeoutType":"num","timerLoopTimeout":0,"loopTimeoutMessageType":"str","loopTimeoutMessage":"LOOP_TIMEOUT","timerMaxLoopIterationsType":"num","timerMaxLoopIterations":0,"loopMaxIterationsMessageType":"str","loopMaxIterationsMessage":"MAX_LOOP_ITERATIONS","isConsecutiveStartActionTimerResetAllowed":false,"isRunningTimerProgressVisible":true,"outputReceivedMessageOnTimerTrigger":true,"outputReceivedMessageOnTimerHalt":false,"startTimerOnReceivalOfUnknownMessage":false,"resetTimerOnReceivalOfUnknownMessage":false,"isDebugModeEnabled":false,"timerTriggeredMessageType":"str","timerTriggeredMessage":"TIMER_TRIGGERED","timerHaltedMessageType":"str","timerHaltedMessage":"TIMER_HALTED","isStartActionEnabled":true,"isStopActionEnabled":true,"isResetActionEnabled":false,"isPauseActionEnabled":false,"isContinueActionEnabled":false,"actionPropertyNameType":"str","actionPropertyName":"payload","startActionNameType":"str","startActionName":"on","stopActionNameType":"str","stopActionName":"off","resetActionNameType":"str","resetActionName":"RESET","pauseActionNameType":"str","pauseActionName":"PAUSE","continueActionNameType":"str","continueActionName":"CONTINUE","x":1250,"y":400,"wires":[["16dfd028.281f6","61fd6474.7b5e7c","60522ff0.49207"],[]]},{"id":"9095781f.2fca1","type":"smooth","z":"2084b11d.b8b30e","name":"max value","property":"payload","action":"max","count":"30","round":"","mult":"single","reduce":false,"x":330,"y":510,"wires":[["24cb0847.f7c398"]]},{"id":"c342652e.7e5218","type":"smooth","z":"2084b11d.b8b30e","name":"max value","property":"payload","action":"min","count":"30","round":"","mult":"single","reduce":false,"x":330,"y":550,"wires":[["d451c459.ab7e98"]]},{"id":"1c12e3a3.ba067c","type":"debug","z":"2084b11d.b8b30e","name":"controllo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1660,"y":680,"wires":[]},{"id":"19f24c59.84ba24","type":"inject","z":"2084b11d.b8b30e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"utenze/utenza1","payload":"verifica","payloadType":"str","x":840,"y":600,"wires":[["61fd6474.7b5e7c"]]},{"id":"5b2530c5.15292","type":"inject","z":"2084b11d.b8b30e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"utenze/utenza4","payload":"verifica","payloadType":"str","x":840,"y":740,"wires":[["61fd6474.7b5e7c"]]},{"id":"7a9a2713.e8e1e8","type":"mqtt in","z":"2084b11d.b8b30e","name":"verifica utenza1","topic":"utenze/utenza1","qos":"2","datatype":"auto","broker":"ef350c6f.9e17b","x":1440,"y":640,"wires":[["1c12e3a3.ba067c"]]},{"id":"f48e7821.43f408","type":"mqtt in","z":"2084b11d.b8b30e","name":"verifica utenza2","topic":"utenze/utenza2","qos":"2","datatype":"auto","broker":"ef350c6f.9e17b","x":1440,"y":700,"wires":[["1c12e3a3.ba067c"]]},{"id":"36aa747.8989c0c","type":"mqtt in","z":"2084b11d.b8b30e","name":"verifica utenza3","topic":"utenze/utenza3","qos":"2","datatype":"auto","broker":"ef350c6f.9e17b","x":1440,"y":760,"wires":[["1c12e3a3.ba067c"]]},{"id":"fb8e581b.6b026","type":"mqtt in","z":"2084b11d.b8b30e","name":"verifica utenza4","topic":"utenze/utenza4","qos":"2","datatype":"auto","broker":"ef350c6f.9e17b","x":1440,"y":800,"wires":[["1c12e3a3.ba067c"]]},{"id":"9ee47be.f64a388","type":"inject","z":"2084b11d.b8b30e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"utenze/utenza2","payload":"verifica","payloadType":"str","x":840,"y":640,"wires":[["61fd6474.7b5e7c"]]},{"id":"95cdd392.e7bbb8","type":"serial in","z":"2084b11d.b8b30e","name":"rpict","serial":"661a7ebc.914308","x":90,"y":590,"wires":[["30954c10.2adfcc","d6c4f874.ab7c1"]]},{"id":"30954c10.2adfcc","type":"debug","z":"2084b11d.b8b30e","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"RPICT3T1","statusType":"auto","x":560,"y":680,"wires":[]},{"id":"f00b97cd.b7a92","type":"debug","z":"2084b11d.b8b30e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":780,"wires":[]},{"id":"d6c4f874.ab7c1","type":"function","z":"2084b11d.b8b30e","name":"separatore valori scheda rpict3t1","func":"var str = msg.payload;\nvalori = str.split(\" \",5);\nvar msg1 = { payload:valori[0],topic:\"canale\"};\nvar msg2 = { payload:valori[1],topic:\"lettura1\"};\nvar msg3 = { payload:valori[2],topic:\"lettura2\"};\nvar msg4 = { payload:valori[3],topic:\"lettura3\"};\nvar msg5 = { payload:valori[4],topic:\"temperatura\"};\nreturn [msg1,msg2,msg3,msg4,msg5];","outputs":5,"noerr":0,"initialize":"","finalize":"","x":200,"y":890,"wires":[["f00b97cd.b7a92"],["f00b97cd.b7a92","fc8c45a1.280b7","e3bc3128.37d9e8","78171683.7576f","8144aae5.a8917","9095781f.2fca1","c342652e.7e5218"],["f00b97cd.b7a92","fef4fdb0.4ed858"],["f00b97cd.b7a92","25a92ab8.b67016"],["f00b97cd.b7a92","f5e9b97.1dc7cc8"]]},{"id":"f5e9b97.1dc7cc8","type":"ui_text","z":"2084b11d.b8b30e","group":"9a24228c.053f3","order":1,"width":0,"height":0,"name":"","label":"temperatura","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":940,"wires":[]},{"id":"fef4fdb0.4ed858","type":"ui_text","z":"2084b11d.b8b30e","group":"9a24228c.053f3","order":3,"width":0,"height":0,"name":"pannelli","label":"watt prodotta","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":860,"wires":[]},{"id":"25a92ab8.b67016","type":"ui_text","z":"2084b11d.b8b30e","group":"9a24228c.053f3","order":4,"width":0,"height":0,"name":"filo grigio","label":"watt filo grigio","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":900,"wires":[]},{"id":"fc8c45a1.280b7","type":"ui_text","z":"2084b11d.b8b30e","group":"9a24228c.053f3","order":2,"width":0,"height":0,"name":"consumo","label":"watt consumata","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":820,"wires":[]}]